@model NumberOfSomethingViewModel
@{
    ViewData["Title"] = "Statistic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="row">
        
        <div class="col-md-6">
            <h3>Number Of People At That Location</h3>
            <br />
            @if (Model != null && Model.NumberOfPeople != null)
            {
                foreach (var numberOfPeople in Model.NumberOfPeople)
                {
                    <div class="card card-body">
                        <div class="flexbox">
                            <div data-provide="sparkline" data-width="100" data-fill-color="false" data-line-width="2">@numberOfPeople.LocationName</div>
                            <div class="text-right">
                                <span class="fw-400">Count</span><br>
                                <span>
                                    <i class="ti-angle-up text-success"></i>
                                    <span class="fs-18 ml-1">@numberOfPeople.Count </span>
                                </span>
                            </div>
                        </div>

                    </div>
                }
            }
        </div>
        
        <div class="col-md-6">
            <h3>Number Of Phone At That Location</h3>
            <br />
            @if (Model != null && Model.NumberOfPhoneNumber != null)
            {
                foreach (var numberOfPeople in Model.NumberOfPhoneNumber)
                {
                    <div class="card card-body">

                        <div class="flexbox">
                            <div data-provide="sparkline" data-width="100" data-fill-color="false" data-line-width="2">@numberOfPeople.LocationName</div>
                            <div class="text-right">
                                <span class="fw-400">Count</span><br>
                                <span>
                                    <i class="ti-angle-up text-success"></i>
                                    <span class="fs-18 ml-1">@numberOfPeople.Count</span>
                                </span>
                            </div>
                        </div>

                    </div>
                }
            }
        </div>
    </div>
</div>
